/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(to right, #d7dec8, #b8c5a5);
    min-height:100vh;
    overflow-x:hidden;
}

/* NAVBAR */
.navbar{
    width:95%;
    margin:20px auto;
    padding:12px 25px;

    border:1px solid #3d4630;
    border-radius:14px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(6px);
}

.logo{
    font-size:22px;
    font-weight:600;
    color:#1d2418;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#1d2418;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#3f7d5a;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 8%;
}

/* TEXT */
.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:100px;
    font-family:'Cormorant Garamond', serif;
    color:#214734;
    line-height:0.9;
}

.hero-text span{
    color:#000;
    font-style:italic;
    font-size:85px;
}

.tagline{
    margin-top:20px;
    font-size:20px;
    color:#2d3327;
}

/* BUTTON */
.cta-button{
    display:inline-block;
    margin-top:30px;
    padding:14px 28px;
    border-radius:30px;
    background:#214734;
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:0.3s;
}

.cta-button:hover{
    transform:scale(1.05);
    background:#2f6047;
}

/* IMAGE */
.hero-image img{
    width:420px;
    animation:float 4s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0);}
}

/* DECOR */
.decor{
    position:absolute;
    border-radius:50%;
    filter:blur(90px);
    opacity:0.4;
}

.decor1{
    width:250px;
    height:250px;
    background:#91a87c;
    top:60px;
    left:-80px;
}

.decor2{
    width:220px;
    height:220px;
    background:#758e65;
    bottom:40px;
    right:120px;
}

/* MOBILE */
@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text h1{
        font-size:70px;
    }

    .hero-text span{
        font-size:60px;
    }

    .hero-image img{
        width:300px;
        margin-top:40px;
    }

    .nav-links{
        gap:15px;
        font-size:14px;
        flex-wrap:wrap;
    }
}
